{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto. --}}

{{!-- * Create a button in `index.handlebars` that will submit the user input into the database. --}}


<div class="row">
    {{!-- eat these burgers --}}
    <div class="col-md-4 p-3">
        <h2>Devour them!</h2>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
                {{burger_name}}
                <button type="submit" data-id="{{this.id}}" class="eat_me">Devour</button>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    {{!-- make burgers --}}
    <form class="col-md-4 p-3" method="POST" action="/burgers">
        <div class="form-group">
            <label>What burger would you like to make?</label>
            <input class="form-control"  name="burger_name">
        </div>
        <button type="submit" class="btn btn-primary" id="burgerMaker">Make-Da-Burger!</button>
    </form>

    {{!-- You ate these burgers, are you full yet? --}}
    <div class="col-md-4 p-3">
        <h2 class="">eaten burgers</h2>
        {{#each burgers}}
        {{#if devoured}}
        <ul>
            {{burger_name}}
        </ul>
        {{/if}}
        {{/each}}

    </div>
</div>