{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto. --}}

{{!-- * Create a button in `index.handlebars` that will submit the user input into the database. --}}


<div class="row">
    {{!-- eat these burgers --}}
    <div class="col-md-4 p-3">to be eaten</div>

    {{!-- make burgers --}}
    <form class="col-md-4 p-3">
        <div class="form-group">
            <label for="exampleInputEmail1">What burger would you like to make</label>
            <input class="form-control" id="burgerMaker">
        </div>
        <button type="submit" class="btn btn-primary">Make-Da-Burger!</button>
    </form>
    {{!-- You ate these burgers, are you full yet? --}}
    <div class="col-md-4 p-3">eaten burgers</div>
</div>